@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: 'Gutcruncher';
    src: url('/fonts/Gutcruncher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
